// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
// @import "bootstrap-sprockets";
// @import "bootstrap";

.hidden { display: none; }

.banner {
  display: block;
  text-align: center;
  width: 100%;
  margin: auto;
}

.title-header {
  display: block;
  font-size: 40px;
  margin: auto;
  padding: 15px;
}

.half-field {
    width: 92% !important;
    float: left !important;
    margin: 1% !important;
}
.name-subject-container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 46px;
}
.contact-email-container {
    width: 73.7%;
    margin-left: 10.8%;
}

.contact-text-area-field {
    width: 100%;
    height: 31vh !important;
    margin-bottom: 1%;
}
.contact-text-area {
    width: 73.7%;
    margin-left: 10.8%;
}
.contact-container {
    padding-top: 77px;
}

.thank-you-container {
    padding-top: 77px;
}
