// Place all the styles related to the website controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***********************
******** HEADER ********
************************/

.banner {
  display: block;
  text-align: center;
  width: 100%;
  margin: auto;
}

.title-header {
  display: block;
  font-size: 32px;
  margin: auto;
  padding: 15px;
}

.nav-menu {
  font-size: 25px;
  display: table;
  margin: auto;
  margin-top: -20px;
  margin-bottom: 15px;
  display: block;
  padding-bottom: 0px;
}

.nav-link:nav-menu {
  margin: auto;
  margin-bottom: 15px;
  display: block;
  vertical-align: top;
  text-decoration: none;
  text-align: left;
}

a {
  padding: 3px;
  // font-size: 21px;
  text-decoration: none;
  opacity: 0.7;
  color: #303030;
  border-radius: 5px;
}

/*HOVER*/

a:hover {
  opacity: 1;
  transform: scale(1.1);
  background-color: #E2E0E0;
}

.social-media {
  display: block;
  background-color: #E2E0E0;
  padding: 3px;
  margin: auto;
  font-size: 30px;
  border-width: 2px;
  border-radius: 5px;
  width: 110px;

}

.fa {
  font-size: 25px;
  margin: auto;
  padding: 2px;
  opacity: 0.7;
}

.tagline {
  color: #303030;
  font-size: 16px;
  padding: 15px;
  margin: auto;
  margin-top: -28px;
  margin-left: 18px;
}

/***********************
******** CONTENT *******
************************/

.section-title {
  margin: auto;
  padding: 25px;
  font-size: 36px;
  text-align: center;
  align-items: center;
}

img {
  padding: 10px;
}

.about-me {
  margin: auto;
  font-size: 30px;
  width: 850px;
  padding: 15px;
  /*background-color: #E2E0E0;*/
  border-radius: 7px;
  text-align: center;
}
//
// .pop-boxes {
//   padding: 30px;
//   margin: auto;
//   width: 432px;
// }

.pop-container {
  margin: auto;
  margin-top: 15px;
  width: 520px;
  padding: 14px;
  // padding: 15px;
  // background-color: #E2E0E0;
  height: 135px;
  border-radius: 4px;
  border-color: grey;
  box-shadow: 0px 0px 0px 0px;
}

.img-cont {
  display: inline-block;
  float: left;
  padding: 2px;
  width: 130px;
  height: 130px;
  background-size: cover;
  background-position: center;
  border-width: 2px;
  border-radius: 50%;
  background-image: url("/assets/border-crossing.jpg");
}

.pop-box {
  font-size: 24px;
  display: inline-block;
  margin: auto;
  margin-top: 44px;
  margin-left: 8px;
}

.description {
  margin: auto;
  margin-left: -1px;
  padding: 0px;
  font-size: 14px;
}
