<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Slabo+27px" rel="stylesheet">
    <title>Marina's Website</title
		<link rel="stylesheet" type="text/css" href="css/website.scss">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <base target="_blank">
  </head>
  <body>
    <div class="content">
      <header class="banner">

        <!-- Title -->
        <div class="title-header">
          <h1>Marina Lee Koslock</h1>
        </div>

        <!-- NAV Menu -->
          <div class="nav-menu">
					  <a href="#articles-section" class="nav-link">Articles</a></li>
					  <a href="#audio-section" class="nav-link">Audio</a></li>
					  <a href="#contact-section" class="nav-link">Contact</a></li>
				  </div>

        <!-- Social Media Links -->
        <div class="social-media">
          <a href="https://www.linkedin.com/in/marina-lee-koslock-89087b93/" i class="fa fa-linkedin-square" aria-hidden="true" ></i></a>
          <a href="https://twitter.com/ohitsmk" i class="fa fa-twitter-square" aria-hidden="true" ></i></a>
          <a href="https://www.instagram.com/ohitsmk/" i class="fa fa-instagram" aria-hidden="true" ></i></a>
        </div>
      </header>

      <!-- Image Placeholder -->
        <img src="/assets/flowers.jpg" alt="" class="main-image">

      <!-- About Me -->
    <section class="section about">
      <div class="about-me">
        <p>Journalist with an interest in identity and adoption. Previous experience in the arts, fashion, and sporting entertainment industries, building brands and creating community through content creation and engagement, social media, and fundraising.</p>
      </div>
    </section>


      <!-- Articles -->
    <section class="section articles" id="articles-section">
      <h2 class="section-title">Articles</h2>

      <div class="pop-container" id="parent">
          <div class="img-cont" id="child">
          </div>
          <div class="pop-box" id="child">
            <a href="http://africasacountry.com/2017/03/the-border-crossing/">Border Crossing - Africa is a Country</a>
            </div>
            <div class="description" id="child">
            <p>on African refugees fleeing Trump's America for Canada.</p>
          </div>
      </div>
      <div class="pop-container">
          <div class="img-cont">
          </div>
          <div class="pop-box">
            <a href="http://africasacountry.com/2017/03/the-border-crossing/">Border Crossing - Africa is a Country</a>
            </div>
            <div class="description">
            <p>on African refugees fleeing Trump's America for Canada.</p>
          </div>
      </div>
      <div class="pop-container">
          <div class="img-cont">
          </div>
          <div class="pop-box">
            <a href="http://africasacountry.com/2017/03/the-border-crossing/">Border Crossing - Africa is a Country</a>
            </div>
            <div class="description">
            <p>on African refugees fleeing Trump's America for Canada.</p>
          </div>
      </div>
      <div class="pop-container">
          <div class="img-cont">
          </div>
          <div class="pop-box">
            <a href="http://africasacountry.com/2017/03/the-border-crossing/">Border Crossing - Africa is a Country</a>
            </div>
            <div class="description">
            <p>on African refugees fleeing Trump's America for Canada.</p>
          </div>
      </div>
    </section>

      <!-- Audio -->
    <section class="section audio" id="audio-section">
      <h2 class="section-title">Audio</h2>
    </section>

      <!-- Contact -->
    <section class="section contact" id="contact-section">
      <h2 class="section-title">Contact Me</h2>
    </section>
    <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
    </div>
  </body>
</html>
