<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="scroll.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Slabo+27px" rel="stylesheet">
    <title>Marina's Website</title
		<link rel="stylesheet" type="text/css" href="css/website.scss">
    <base target="_blank">
  </head>
  <body>

    <header class="banner">

        <div class="title-header">
          <h1>Marina Lee Koslock</h1>
        </div>

        <!-- NAV Menu -->
          <ul class="nav-menu">
					<li class="nav-link"><a href="#articles-section">Articles</a></li>
					<li class="nav-link"><a href="#audio-section">Audio</a></li>
					<li class="nav-link"><a href="#contact-section">Contact</a></li>
				</ul>

        <!-- Social Media Links -->
        <div class="social-media">
          <a href="https://www.linkedin.com/in/marina-lee-koslock-89087b93/" i class="fa fa-linkedin-square" aria-hidden="true" ></i></a>
          <a href="https://twitter.com/ohitsmk" i class="fa fa-twitter-square" aria-hidden="true" ></i></a>
          <a href="https://www.instagram.com/ohitsmk/" i class="fa fa-instagram" aria-hidden="true" ></i></a>
        </div>
    </header>

        <!-- Profile Image (if you're wondering the breed of this beautiful placeholder, it's called a "Dandy Dinmont.") -->
        <!-- <img src="/assets/dinmont.jpg" alt="" class="image"> -->

      <!-- About Me -->
    <section class="section about" id="about-section">
      <p class="about-me">Journalist with an interest in identity and adoption. Previous experience in the arts, fashion, and sporting entertainment industries, building brands and creating community through content creation and engagement, social media, and fundraising.</p>
    </section>


      <!-- Articles -->
    <section class="section articles" id="articles-section">
      <h2 class="section-title">Articles</h2>

      <div class="pop-container">
          <div class="img-cont">
          </div>
          <div class="pop-box">
            <a href="http://africasacountry.com/2017/03/the-border-crossing/">Border Crossing - Africa is a Country</a>
            <p class="description">on African refugees fleeing Trump's America for Canada.</p>
          </div>
      </div>
      <div class="pop-container">
          <div class="img-cont">
          </div>
          <div class="pop-box">
            <a href="http://africasacountry.com/2017/03/the-border-crossing/">Border Crossing - Africa is a Country</a>
            <p class="description">on African refugees fleeing Trump's America for Canada.</p>
          </div>
      </div>
      <div class="pop-container">
          <div class="img-cont">
          </div>
          <div class="pop-box">
            <a href="http://africasacountry.com/2017/03/the-border-crossing/">Border Crossing - Africa is a Country</a>
            <p class="description">on African refugees fleeing Trump's America for Canada.</p>
          </div>
      </div>
    </section>

      <!-- Audio -->
    <section class="section audio" id="audio-section">
      <h2 class="section-title">Audio</h2>
    </section>

      <!-- Contact -->
    <section class="section contact" id="contact-section">
      <h2 class="section-title">Contact Me</h2>
    </section>

  </body>
</html>
